<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013461943739-2vblmn0h13hau4s289ro1glsbh1t3sg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013461943739-2vblmn0h13hau4s289ro1glsbh1t3sg0</string>
	<key>API_KEY</key>
	<string>AIzaSyBPLwfi3fIegMRaXdTEp3CzmOYGlFGq5Mc</string>
	<key>GCM_SENDER_ID</key>
	<string>1013461943739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.harryng.demo.learningfluter</string>
	<key>PROJECT_ID</key>
	<string>harry-s-firebase-test</string>
	<key>STORAGE_BUCKET</key>
	<string>harry-s-firebase-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013461943739:ios:b8e57558449ea782a2f09e</string>
</dict>
</plist>